h1,h2,h3,h4,h5,h6 {
    font-family: "Libre Baskerville", serif;
}

p{
    font-family: "Lato", sans-serif;
    font-size: 16px;
}

.full-height {
    height: 100vh;
}

button {
    border: none;
    padding: 16px 20px;
    border-radius: 8px;
    background: #18382B;
    font-family: "Lato";
    font-size: 16px;
    color: white;
}

.carousel-item {
    background-color: #E6F2E9;
}

.carousel-control-next, .carousel-control-prev {
    top: auto;
    right: auto;
    left: 24px;
    bottom: 24px;
    width: auto;
    background-color: white;
    padding: 12px;
    border-radius: 50%;
}

.carousel-control-next {
    left: 84px;
}

.hero-img {
    height: 90vh;
    position: relative;
    bottom: -100px;
}

.nav-link {
    font-family: "Lato", sans-serif;
    color: rgba(0, 0, 0, 0.60);
}

.nav-link:hover {
    color: #18382B;
}

.nav-link.active {
    border-bottom: 2px solid #18382B;
    color: #18382B;
}

.carousel-item {
    @-55,12 +72,37 @@
    left: 84px;
}

.card {
    width: auto;
    height: 320px;
    margin: auto;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card-img-top.small {
    height: 200px;
}

.card-text {
    color: #18382B;
}

.hero-img {
    height: 90vh;
    position: relative;
    bottom: -100px;
}

.accordion-button {
    background-color: #f1f1f1;
    color: #333;
    font-weight: bold;
    border: none;
    border-radius: 0;
    padding: 10px 20px;
}

.accordion-button:hover {
    background-color: #ddd;
}

.accordion-button.collapsed::after {
    content: '\002B';
}

.accordion-button:not(.collapsed)::after {
    content: '\2212';
}

.accordion-item {
    border: none;
    margin-bottom: 10px;
}

.accordion-body {
    background-color: #f9f9f9;
    color: #666;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px 20px;
}